$smScreen-maxWidth: 1439px;
$lgScreen-minWidth: 1440px;

/********
 * GRID *
 ********/

.container {
  margin: 5em;

  @media screen and (max-width: $smScreen-maxWidth) {
    margin: 2em 1em;
  }
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  @media screen and (max-width: $smScreen-maxWidth) {
    flex-direction: column;
  }
}

.column {
  @media screen and (max-width: $smScreen-maxWidth) {
    margin: 1em 0;
  }
}

.header {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

/********
 * CARD *
 ********/

.card {
  display: inline-block;
  padding: 1.5em;
  background: #ffffff;
  border: 1px solid #f1f3f5;
  box-shadow: 0px 4px 14px rgba(200, 200, 200, 0.25);
  max-width: 378px;
  position: relative;
  z-index: 1;

  &:hover {
    border: 1px solid #cad1d8;
    box-shadow: 0px 4px 14px rgba(85, 85, 85, 0.25);
    transform: scale(1.05);
    transition: border ease-in 100ms, box-shadow ease-in 100ms,
      transform ease-in 100ms;
  }

  .wrapper {
    display: flex;
  }

  .content {
    margin-left: 20px;
    color: #212529;
  }

  .title {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
  }

  .description {
    margin-top: 5px;
    font-weight: 100;
    font-size: 16px;
  }

  .icon {
    img {
      height: 86px;
      width: 86px;
    }
  }
}

/*************
 * UNDERWEAR *
 *************/

.underwearWrapper {
  display: inline-block;
  position: relative;
  transform: scale(0.7);

  .underwear {
    max-width: 100%;
    &:hover {
      transform: scale(1.01);
      transition: transform ease-in 0.2s;
    }
  }

  .line {
    position: absolute;
  }
}

/**************
 * RESPONSIVE *
 **************/

.smScreenOnly {
  display: none;
  @media screen and (max-width: $smScreen-maxWidth) {
    display: block;
  }
}

.lgScreenOnly {
  display: none;
  @media screen and (min-width: $lgScreen-minWidth) {
    display: block;
  }
}
