@import "./globals.scss";

.header {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

.subtitle {
  margin: 0 2em;
  text-align: center;
}

/********
 * CARD *
 ********/

.card {
  display: inline-block;
  padding: 1.5em;
  background: #ffffff;
  border: 1px solid #f1f3f5;
  box-shadow: 0px 4px 14px rgba(200, 200, 200, 0.25);
  max-width: 378px;
  position: relative;
  z-index: 1;

  &:hover {
    box-shadow: 0px 2px 10px rgba(200, 200, 200, 0.726);
    transform: scale(1.01);
    transition: box-shadow 100ms, transform 100ms;
  }

  .wrapper {
    display: flex;
  }

  .content {
    margin-left: 20px;
    color: #212529;
  }

  .title {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
  }

  .description {
    margin-top: 5px;
    font-weight: 100;
    font-size: 16px;
  }

  .icon {
    img {
      height: 86px;
      width: 86px;
    }
  }
}

/*************
 * UNDERWEAR *
 *************/

.underwearWrapper {
  display: inline-block;
  position: relative;
  transform: scale(0.7);

  .underwear {
    max-width: 100%;
  }

  .line {
    position: absolute;
  }
}

/**************
 * RESPONSIVE *
 **************/

.smScreenOnly {
  display: none;
  @media screen and (max-width: $smScreen-maxWidth) {
    display: block;
  }
}

.lgScreenOnly {
  display: none;
  @media screen and (min-width: $lgScreen-minWidth) {
    display: block;
  }
}
