.container {
  display: flex;
  padding: 4em 8em;
  background-color: rgb(250 250 250);
}

.column {
  padding: 0 4em;
}

.header {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: rgb(24 24 27);
}

.description {
  text-align: center;
  color: rgb(63 63 70);
  margin-bottom: 3em;
}
