// Leaflet

.leaflet-container {
  background-color: inherit;
  font-family: "Zurich", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-interactive {
  transition: fill 0.2s;
}

// State label markers
.stateMarker {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;

  div {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    word-break: keep-all;
    color: #212529;
    text-shadow: none;
    position: absolute;
    text-align: center;
  }
}

// State tooltips

.leaflet-tooltip {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 0;

  &-right:before {
    border-right-color: #212529;
  }

  &-left:before {
    border-left-color: #212529;
  }
}

.stateTooltip {
  padding: 11px;
  color: white;
  font-size: 12px;

  .title {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
  }

  .description {
    color: #adb5bd;
  }

  ul {
    padding-left: 3px;
    list-style: none;
  }
}

// Popup

.topSellerPopup {
  bottom: -14px !important;

  .leaflet-popup-content-wrapper {
    background-color: #212529;
    border-radius: 0;
    text-align: center;
    min-height: 250px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -30px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 5px solid grey;
      border-top-color: black;
      animation: loading 2s linear infinite;
    }
  }

  .leaflet-popup-content {
    margin: 5px;
  }

  .imgOverlay {
    position: relative;
    display: inline-block;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: linear-gradient(
        180deg,
        rgba(82, 82, 82, 0) 77.08%,
        rgba(50, 50, 50, 0.46) 85.15%,
        #000000 98.96%
      );
    }

    img {
      vertical-align: bottom;
      position: relative;
    }
  }

  .title {
    color: #f8f9fa;
    margin: 1px 0;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 3;
  }

  .leaflet-popup-tip-container {
    display: none;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
