@import "./globals.scss";

.header {
  text-align: center;
  margin: 0;
}

.title {
  font-size: 47px;
  margin: 20px 0;
  font-weight: normal;
  text-transform: uppercase;
}

.subTitle {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

.description {
  margin: 5em 2em;
  max-width: 1024px;
  text-align: center;

  @media screen and (min-width: $lgScreen-minWidth) {
    margin-left: 5em;
    margin-right: 5em;
  }
}
