@font-face {
  font-family: "Zurich";
  src: url("/public/fonts/zurich.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Zurich";
  src: url("/public/fonts/zurich-bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Zurich";
  src: url("/public/fonts/zurich-italic.woff2") format("woff2");
  font-style: italic;
}

html,
body {
  font-family: "Zurich", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  margin: 0;
  padding: 0;
}

section {
  margin: 2em 0;
}
